node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# npm install react react-dom
# npm instal 
# npm i -g expo-cli
# npm install react-hook-form
# npx expo install react-native-maps
# npm install @react-navigation/native @react-navigation/native-stack
# npm install react-native-screens react-native-safe-area-context
# npm npm install @react-navigation/native-stack
# npx expo install react-native-safe-area-context@4.3.1 react-native-screens@~3.15.0
# npm install @react-navigation/drawer
# npm install react-native-gesture-handler react-native-reanimated
# npx expo install react-native-gesture-handler@~2.5.0 react-native-reanimated@~2.9.1